# Practice - 2

Name - Purusharth Malik

Registration No.: 2348542

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
df = pd.read_csv('data_power_transformed.csv')
df.head()

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,0,02-05-2014 0:00,-0.620846,-0.401735,-0.828786,-0.876706,0.053381,0.204461,-0.085004,-0.333333,-0.641471,-0.452664,-0.820138,-0.645785,1.211746,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,1,02-05-2014 0:00,3.314654,1.678688,0.500975,1.466042,0.204963,0.989424,-0.085004,3.001639,1.965682,1.562572,1.072648,-1.529910,-0.825773,709 W Blaine St,Seattle,WA 98119,USA
2,2,02-05-2014 0:00,-0.502569,-0.401735,-0.126969,-0.033902,0.506690,-1.010986,-0.085004,-0.333333,0.908991,0.395222,-0.820138,-0.296406,-0.825773,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,3,02-05-2014 0:00,-0.213320,-0.401735,0.195021,0.049019,0.070262,-1.010986,-0.085004,-0.333333,0.908991,-1.185227,1.284536,-0.395140,-0.825773,857 170th Pl NE,Bellevue,WA 98008,USA
4,4,02-05-2014 0:00,0.200437,0.688242,0.500975,-0.021881,0.368322,-1.010986,-0.085004,-0.333333,0.908991,-0.851262,1.250952,0.052531,1.210823,9105 170th Ave NE,Redmond,WA 98052,USA

In [26]:
#dropping unnecessary attributes
df.drop(['Unnamed: 0', 'date', 'street', 'statezip', 'country'], axis=1, inplace=True)
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city
0,-0.620846,-0.401735,-0.828786,-0.876706,0.053381,0.204461,-0.085004,-0.333333,-0.641471,-0.452664,-0.820138,-0.645785,1.211746,Shoreline
1,3.314654,1.678688,0.500975,1.466042,0.204963,0.989424,-0.085004,3.001639,1.965682,1.562572,1.072648,-1.529910,-0.825773,Seattle
2,-0.502569,-0.401735,-0.126969,-0.033902,0.506690,-1.010986,-0.085004,-0.333333,0.908991,0.395222,-0.820138,-0.296406,-0.825773,Kent
3,-0.213320,-0.401735,0.195021,0.049019,0.070262,-1.010986,-0.085004,-0.333333,0.908991,-1.185227,1.284536,-0.395140,-0.825773,Bellevue
4,0.200437,0.688242,0.500975,-0.021881,0.368322,-1.010986,-0.085004,-0.333333,0.908991,-0.851262,1.250952,0.052531,1.210823,Redmond

In [27]:
#value counts for 'city' attribute
df.city = [dict(df.city.value_counts())[_] for _ in df.city]
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city
0,-0.620846,-0.401735,-0.828786,-0.876706,0.053381,0.204461,-0.085004,-0.333333,-0.641471,-0.452664,-0.820138,-0.645785,1.211746,123
1,3.314654,1.678688,0.500975,1.466042,0.204963,0.989424,-0.085004,3.001639,1.965682,1.562572,1.072648,-1.529910,-0.825773,1573
2,-0.502569,-0.401735,-0.126969,-0.033902,0.506690,-1.010986,-0.085004,-0.333333,0.908991,0.395222,-0.820138,-0.296406,-0.825773,185
3,-0.213320,-0.401735,0.195021,0.049019,0.070262,-1.010986,-0.085004,-0.333333,0.908991,-1.185227,1.284536,-0.395140,-0.825773,286
4,0.200437,0.688242,0.500975,-0.021881,0.368322,-1.010986,-0.085004,-0.333333,0.908991,-0.851262,1.250952,0.052531,1.210823,235

In [28]:
from scipy.stats import zscore

df.city = zscore(df.city)
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city
0,-0.620846,-0.401735,-0.828786,-0.876706,0.053381,0.204461,-0.085004,-0.333333,-0.641471,-0.452664,-0.820138,-0.645785,1.211746,-0.773658
1,3.314654,1.678688,0.500975,1.466042,0.204963,0.989424,-0.085004,3.001639,1.965682,1.562572,1.072648,-1.529910,-0.825773,1.379551
2,-0.502569,-0.401735,-0.126969,-0.033902,0.506690,-1.010986,-0.085004,-0.333333,0.908991,0.395222,-0.820138,-0.296406,-0.825773,-0.681590
3,-0.213320,-0.401735,0.195021,0.049019,0.070262,-1.010986,-0.085004,-0.333333,0.908991,-1.185227,1.284536,-0.395140,-0.825773,-0.531608
4,0.200437,0.688242,0.500975,-0.021881,0.368322,-1.010986,-0.085004,-0.333333,0.908991,-0.851262,1.250952,0.052531,1.210823,-0.607341

# Splitting the data

In [29]:
from sklearn.model_selection import train_test_split

X, y = df.drop('price', axis=1).values, df.price.values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# KNN

In [30]:
from sklearn.neighbors import KNeighborsRegressor

knr = KNeighborsRegressor()
knr.fit(X_train, y_train)

KNeighborsRegressor()

In [40]:
#evaluating the model
from sklearn.metrics import accuracy_score

y_pred = knr.predict(X_test)

knr.score(X_test, y_test)

0.36892372890280234